{% extends 'base.html' %}{% block content %}<div class="d-flex justify-content-between">
    <h3>{{item.titulo}}</h3>
    <div>{% if is_admin %}<a class="btn btn-primary" href="{{url_for('correcoes_editar',id=item.id)}}">Editar</a>
        <form class="d-inline" method="post" action="{{url_for('correcoes_excluir',id=item.id)}}"><button
                class="btn btn-danger">Excluir</button></form>{% endif %}
    </div>
</div>
<div class="card p-3">
    <p><b>Sistema:</b> {{item.sistema}} | <b>Categoria:</b> {{item.categoria}} | <b>Criticidade:</b>
        {{item.criticidade}}</p>
    <h5>Erro apresentado</h5>
    <pre class="pre-sql">{{item.erro}}</pre>
    <h5>Causa provável</h5>
    <p>{{item.causa}}</p>
    <h5>Correção aplicada</h5>
    <pre class="pre-sql">{{item.correcao}}</pre>
    <div class="row g-3">{% for a in item.anexos if not a.deleted_at %}<div class="col-md-3"><a
                href="{{url_for('anexo_ver',id=a.id)}}" target="_blank"><img class="img-fluid thumb"
                    src="{{url_for('anexo_ver',id=a.id)}}"></a></div>{% endfor %}</div>
</div>{% endblock %}